<!DOCTYPE html>
<html>
<head>
    <title>EJS Template Activity</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <div class="card">
        <h1>Student Information</h1>

        <p><b>Name:</b> <%= student.name %></p>
        <p><b>Course:</b> <%= student.course %></p>
        <p><b>Subject:</b> <%= student.subject %></p>
    </div>

</body>
</html>