----------------------------------------
React Setup Commands
----------------------------------------

Check Node.js:
node -v
npm -v

Create React App:
npx create-react-app react_activities

Go to Project Folder:
cd react_activities

Install Dependencies:
npm install

Run Application:
npm start

Open Browser:
http://localhost:3000

----------------------------------------
Main Dependencies:
react
react-dom
react-scripts